#container {
	width: 1000px;
	margin: -10px auto 0 auto;
	padding: 12px;
	box-shadow: 0 0 15px #bbb,0 0 10px #bbb,0 0 5px #bbb;
	border: solid 1px #ccc;
	background: #fff;
	}

#header {
	margin: 0 8px;
	box-shadow: 3px 3px 3px 0 #ddd;
	border: solid 1px #ccc;
	padding: 12px;
	background: #fff;
	}

#aboveheadernav,
#footernav,
#belowheadernav {
	margin: 0 8px;
	box-shadow: 3px 3px 3px 0 #ddd;
	}
#aboveheadernav{
	}
#belowheadernav {
	}
#footernav{
	}

#content {
	width: 750px;
	float: left;
	}
#content-no-sidebar {
	width: 1000px;
	}

#sidebar {
	width: 234px;
	float: left;
	padding: 0;
	margin: 0 0 0 8px;
	}

#footer {
	clear: both;
	background: #ddd;
	padding: 12px 0;
	margin: 12px 8px;
	}


/**********************************/
/* Header                         */

#header h1 {
	color: #444;
	}

#header h2 {
	font-style: italic;
	color: #777;
	}

#header h1 a {
	text-decoration: none;
	color: #555;
	}


/**********************************/
/* Header Navigation              */

#aboveheadermenu,
#belowheadermenu {
	font-size: 85%;
	border: solid 1px #ccc;
	width: 982px;
	}

#belowheadermenu {
	border-top: none;
	background: #fff;
	}

#aboveheadermenu {
	border-bottom: none;
	}
.current-menu-item {
	background: #dedede;
	}


/**********************************/
/* Footer Navigation              */

#footer ul {
	list-style-type: none;
	padding: 0px;
	margin: 0px;
	}

#footer ul a {
	color: #559;
	text-decoration: none;
	}

#footer ul li {
	font-size: 12px;
	width: 150px;
	display: block;
	float: left;
	padding: 8px;
	}

#footer li:last-child {
	padding-bottom: 0;
	}

#developer {
	font-size: .75em;
	float: right;
	padding: 8px;
	margin: 0 8px;
	box-shadow: 1px 1px 1px 0 #eee, 3px 3px 3px 0 #eee;
	border: solid 1px #ccc;
	background: #eee;
	color: #444;
	}
#developer a {
	text-decoration: none;
	color: #559;
	}


/**********************************/
/* Entry Content                  */

.post {
	padding: 12px;
	margin: 10px 8px;
	box-shadow: 3px 3px 3px 0 #ddd;
	border: solid 1px #ccc;
	background: #f5f5f5;
	}
.post p,
.post ol,
.post ul,
.post li {
	font-size: 14px;
	line-height: 1.4;
	}
.post .post-title {
	border-bottom: double 3px #bbb;
	border-top: double 3px #bbb;
	color: #444;
	margin-bottom: 6px;
	margin-top: 0;
	padding: 6px;
	}
.post .post-title a {
	text-decoration: none;
	color: #444;
	}

#post-meta {
	font-size: 85%;
	color: #444;
	clear: both;
	margin-top: 12px;
	}
.list-pub a,
.list-cat a,
.list-tags a {
	text-decoration: none;
	}
.list-cat a:hover,
.list-tags a:hover {
	background: #FFFF7F;
	}
.list-pub,
.list-cat,
.list-tags {
	float: left;
	border: solid 1px #bbb;
	box-shadow: 3px 3px 3px 0 #ccc;
	padding: 4px;
	background: #fff;
	font-size: 0.95em;
	}
.list-pub,
.list-cat {
	margin-right: 8px;
	}
.list-pub {
	width: 250px;
	}
.list-cat,
.list-tags {
	width: 206px;
	}
.list-pub p {
	margin: 0;
	}

.edit-post {
	float: right;
	border: solid 1px #ddd;
	background: #fff;
	margin: 6px 0 0 0;
	font-size: 85%;
	}
.edit-post:hover {
	background: #eee;
	border-color: #fff;
	}
.edit-post a {
	padding: 8px;
	text-decoration: none;
	display: block;
	line-height: 1.2;
	}

.post-content {
	clear: both;
	background: #fff;
	padding: 12px;
	margin: 6px 0 12px;
	color: #222;
	}
.post-content p {
	margin-top: 0;
	}

.read-more {
	float: right;
	border: solid 1px #ddd;
	box-shadow: 3px 3px 3px 0 #ddd;
	margin: 0;
	font-size: 85%;
	}
.read-more:hover {
	background: #eee;
	}
.read-more a {
	text-decoration: none;
	display: block;
	padding: 4px;
	}

#post-series {
	font-size: .9em;
	border: solid 1px #bbb;
	box-shadow: 3px 3px 3px 0 #ccc;
	background: #fff;
	padding: 6px 9px;
	margin: 12px 0;
	}
#post-series a {
	text-decoration: none;
	color: #444;
	}
#post-series p {
	margin-bottom: 3px;
	margin-top: 0;
	font-size: 12px;
	color: #777;
	}
.post-prev {
	float: left;
	display: inline-block;
	}
.post-next {
	float: right;
	display: inline-block;
	text-align: right;
	}

.sticky {
	border-color: #7979BE;
	}

.attachment-thumbnail {
	float:left;
	margin-right: 12px;
	}

.entry-meta {
	}
.entry-meta p {
	margin: 0;
	font-size: 13px;
	}

/**********************************/
/* Comments                       */

#comments {
	border: solid 1px #bbb;
	box-shadow: 3px 3px 3px 0 #ccc;
	background: #fff;
	padding: 11px;
	}

.comments-title {
	margin: 0;
	color: #777;
	}

.comment-list {
	margin: 0;
	padding: 0;
	}

div.comment,
div.pingback {
	border: solid 1px #ddd;
	font-size: 14px;
	margin: 6px 0px;
	box-shadow: 2px 2px 2px 0 #eee;
	padding: 10px;
	color: #444;
	}

#respond {
	color: #444;
	font-size: 0.85em;
/*
	padding: 10px;
	margin: 6px 0px;
	border: solid 1px #ddd;
	box-shadow: 2px 2px 2px 0 #eee
*/
	}

#reply-title {
	margin: 0;
	}

.comment-form-comment label {
	display: block;
	}

textarea#comment {
	width: 100%;
	}

.bypostauthor {
	}


/**********************************/
/* Sidebar Widgets                */

.sidebar-widget {
	border: solid 1px #ddd;
	box-shadow: 3px 3px 3px 0 #ddd;
	padding: 8px;
	margin-top: 8px;
	font-size: 75%;
	}

.sidebar-widget h3 {
	border-top: solid 1px #bbb;
	border-bottom: solid 1px #bbb;
	padding: 4px 0;
	margin: 0 0 4px 0;
	color: #555;
	}

.sidebar-widget ul {
	list-style-type: none;
	padding-left: 0;
	margin: 0 0 0 3px;
	}

.sidebar-widget li {
	padding: 2px 0;
	margin: 3px 0;
	border-bottom: solid 1px #ddd;
	}

.sidebar-widget li a {
	text-decoration: none;
	color: #559;
	}


/**********************************/
/* Archive Pages                  */

#archive-title {
	border: solid 1px #bbb;
	box-shadow: 3px 3px 3px 0 #ccc;
	background: #fff;
	padding: 12px 9px;
	margin: 9px 8px;
	text-align: center;
	color: #555;
	}
#posts-nav {
	border: 1px solid #ccc;
	box-shadow: 3px 3px 3px 0 #ddd;
	margin: 0 8px;
	padding: 6px;
	text-align: center;
	color: #777;
	}
#posts-nav a,
.excerpt-link {
	text-decoration: none;
	color: #777;
	}



/**********************************/
/* Images, Captions, & Galleries  */

.wp-caption {
	border: 1px solid #ccc;
	box-shadow: 3px 3px 3px 0 #ddd;
	padding: 4px;
	background: #efefef;
	}
.wp-caption-text {
	text-align: left;
	font-size: 80%;
	background: #fff;
	margin: 3px 0;
	padding: 4px;
	}
.alignright {
	float: right;
	margin-left: 10px;
	}
.alignleft {
	float: left;
	margin-right: 10px;
	}
.aligncenter {
	margin: 10px auto;
	}
.gallery-item {
	border: 1px solid #ccc;
	box-shadow: 3px 3px 3px 0 #ddd;
	padding: 4px;
	background: #efefef;
	width: 30% !important;
	margin-right: 6px;
	}
.gallery-caption {
	font-size: 12px;
	}
/*
img.wp-post-image
img.attachment-thumbnail
img.attachment-medium
img.attachment-large
img.attachment-full
*/

/**********************************/
/* Action Hook Areas              */

#greybox_before_header,
#greybox_after_header {
	border: solid 1px #bbb;
	box-shadow: 3px 3px 3px 0 #ccc;
	background: #fff;
	padding: 6px 9px;
	margin: 0 8px 9px;
	}
#greybox_after_header {
	margin: 8px 8px 9px;
	}
#greybox_before_post_meta,
#greybox_after_post_meta {
	border: solid 1px #bbb;
	box-shadow: 3px 3px 3px 0 #ccc;
	background: #fff;
	padding: 6px 9px;
	}
#greybox_before_post_meta {
	margin-top: 12px;
	}
#greybox_after_post_meta {
	margin-bottom: 12px;
	}
#greybox_before_comments,
#greybox_after_comments,
#greybox_before_comment_form,
#greybox_after_comment_form {
	margin: 6px 0px;
	border: solid 1px #ddd;
	box-shadow: 2px 2px 2px 0 #eee;
	padding: 10px;
	}
.greybox-action-hook div:first-child h3 {
	margin-top: 0;
	}


/**********************************/
/* Post Formats                   */

.aside-meta {
	text-align: right;
	font-size: 10px;
	font-style: italic;
	color: #888;
	}
.dashicons, .dashicons-before::before {
	padding-top: 4px;
	width: 26px;
	font-size: 24px;
	}
.dashicons-format-aside {
	float: left;
	color: #444;
	margin-top: 9px;
	padding-right: 14px;
	}
a .dashicons-format-aside {
	text-decoration: none;
	color: #444;
	}
.format-aside .post-title {
	display: none;
	}
/* Chat Posts */
.format-chat .post-content p{
	background: #E9E9E9; /* The background color of first paragraph */
	border-left: 7px solid #C9C9C9; /* The setting for border of first paragraph */
	margin-bottom: 2px;
	padding: 6px 0 6px 13px;
	}
.format-chat .post-content p:nth-child(odd) {
	background: #F7F7F7; /* The background color of next paragraph */
	border-left-color: #E0E0E0; /* The setting for border of next paragraph */
	}
/* Quote Posts */
.format-quote .post-content p {
	font-weight: bold;
	font-size: 140%;
	}
.format-quote .post-content p:last-child {
	font-weight: normal;
	font-style: italic;
	text-align: right;
	font-size: 90%;
	}


/**********************************/
/* Special Areas                  */

.clear {
	clear: both;
	}

.printonly {
	display: none;
	}

code {
	font-family: "ubuntu mono", "opensans mono", monospace;
	}

blockquote {
	border: solid 1px #ddd;
	box-shadow: 3px 3px 3px 0 #eee;
	background: #efefef;
	padding: 0 8px 0 16px;
	}

table#wp-calendar {
	width: 100%;
	}

.size-auto, 
.size-full,
.size-large,
.size-medium,
.size-thumbnail {
	max-width: 100%;
	height: auto;
}

/* Temp */
.greybox-action-hook {
	background: #fdd !important;
	}